a {
  text-decoration: none;
  color: #444;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 800px;
}
img {
  width: 200px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.register {
  max-width: 700px;
  padding: 30px;
  padding-bottom: 70px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.btn.btn-active {
  background: #000;
  color: #fff;
}

.btn.btn-btn {
  background: #ccc;
  color: #111;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background: #9f9f9f;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  border: none;
  align-items: center;
}

.btn.btn-primary {
  background-color: rgb(84, 129, 244);

  color: #fff;
  border-radius: 10px;
}
/* form css start from here */
.signin-form {
  max-width: 700px;
  margin: 0 auto;
}

label {
  margin: 5px 0;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input:active {
  border: 1px solid #ccc;
}

.form-wrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchbar input {
  min-width: 70%;
  margin: 20px 0;
}

.comment-box {
  display: flex;
}

.books {
  align-items: stretch;
}

.book-card {
  width: 212px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.book-card img {
  width: 200px;
  height: 200px;
}

/* comment section css start from here */

.comment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-card {
  display: flex;
  flex-direction: column;
}

.userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.userinfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 10px;
}

.reviewmeta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* books details  design start from here */
.book-details {
  align-items: flex-start;
  display: flex;
  gap: 20px;
}

.book-detailsmeta {
  display: flex;
  flex-direction: column;
}
.book-detailsmeta p {
  padding: 0;
  margin: 7px;
}
